<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>LIFX Bulb Manager</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/bootstrap-4.5.2-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <!-- Add your site or application content here -->
  <h1>LIFX Bulb Manager</h1>
  {% if lights %}
  <ul>
    {% for light in lights %}
    <li>Location: {{ light.location }}, Label: {{ light.label }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No lights detected.</p>
  {% endif %}

  <form method="POST" action="{{ url_for('update_lights') }}">
    {{ update_lights_form.csrf_token }}
    <input type="submit" name="update_lights" value="update_lights" />
  </form>


  <script src="/static/js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="/static/js/plugins.js"></script>
  <script src="/static/js/main.js"></script>
</body>

</html>